<div class="transfer-container">
    
<form>
<h1 align="center">Add Transaction Details</h1>
<label for="txtName" class="form-label">From Account Id</label>
<input type="text"  id="txtName"  class="form-control" name="fromId" [(ngModel)]="transferreq.fromId">
<label for="txtJob" class="form-label">To Accout</label>
<input type="text"  id="txtJob"  class="form-control" name="toId" [(ngModel)]="transferreq.toId">
<label for="txtSal" class="form-label">Amount</label>
<input type="text"  id="txtSal"  class="form-control" name="amount" [(ngModel)]="transferreq.amount">
<button type="button" (click)="transferMoney()" class="btn btn-primary">Transfer</button>  &nbsp;&nbsp;  

<!-- Status box -->
<div class="mt-3" *ngIf="statusMessage">
<div
               class="alert"
                [ngClass]="{
                    'alert-success': isSuccess,
                    'alert-danger': !isSuccess
                }"
                role="alert"
>
                {{ statusMessage }}
</div>
</div>

<div *ngIf="showBackButton" class="back-button">
    <button (click)="navigate()">Back</button>
</div>

</form>

</div>